body {
  background: #07142f;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
  gap: 16px;
}

.logo {
  margin: 2rem;
  color: white
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;

  background: hsl(0 0% 0% / .75);
}

/** if backdrop-filter is supported (it's not in firefox) */
@supports (backdrop-filter: blur(10px)) {
  .primary-navigation {
    background: hsl(0 0% 100% / .1);
    backdrop-filter: blur(10px);
  }
}

.primary-navigation a {
  text-decoration: none;
  color: white;
}

.primary-navigation a > [area-hidden="true"] {
  font-weight: 700;
  margin-inline-end: .75em;
}

@media (max-width: 35rem) {
  .primary-navigation {

    gap: 2em;

    position: fixed;
    inset: 0 0 0 30px;

    flex-direction: column;
    padding: min(20vh, 10rem) 2rem;
  }
  
}
