body {
  background: #07142f;
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

.flex {
  display: flex;
  gap: 16px;
}

.logo {
  margin: 2rem;
  color: white;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;

  background: hsl(0 0% 0% / 0.75);
}

/** if backdrop-filter is supported (it's not in firefox) */
@supports (backdrop-filter: blur(10px)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(10px);
  }
}

.primary-navigation a {
  text-decoration: none;
  color: white;
}

.primary-navigation a > [area-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    gap: 2em;

    position: fixed;
    inset: 0 0 0 30px;
    z-index: 1000;

    flex-direction: column;
    padding: min(20vh, 10rem) 2rem;

    /** Move 100% width of the page */
    transform: translateX(100%);
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-image: url("public/burger.svg");
    background-repeat: no-repeat;
    border: 0;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
  }
}

/** https://tailwindcss.com/docs/screen-readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
